html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 251, 246);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

section {
    padding-bottom: 1ch;
}

.hamburgerbutton {
    height: 5ch;
    width: 10ch;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* border: 2px solid rgb(18, 10, 4); */
    transition: 0.3s;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hamburgerbutton:hover {
    background-color: #f3dfce;
}

/* .toprightlinks:has(:focus) .hamburgerbutton {
    background-color: rgb(237, 230, 222);
} */

.hblinecontainer {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hbline {
    height: 4px;
    border-radius: 3px;
    background-color: rgb(18, 10, 4);
}

.expand-menu {
    display: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    border: none;
}

.topleftlink {
    display: flex;
    align-items: center;
}

.topleftlink img {
    height: 5ch;
}

.topleftlink:hover img {
    filter: opacity(0.7);
}

.topleftlink a {
    text-decoration: none;
    color: rgb(18, 10, 4);
    font-weight: 600;
}

.toprightlinks a {
    color: rgb(18, 10, 4);
    font-size: large;
}

.toprightlinks a:hover {
    color:#D47844;
}

.navbarspacer {
    height: 5ch;
}

a {
    color: #D47844;
}

a:hover {
    color: #DFA07B;
}

.topnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 7ch;
    background-color: rgb(255, 251, 246);
    padding: 1ch;
    align-items: center;
    justify-content: space-between;
    padding-left: 10ch;
    padding-right: 10ch;
    box-shadow: 0px 2px 4px rgba(18, 10, 4, 0.281);
}

h1 {
    font-family: monospace, 'Courier New', Courier;
    font-weight: 600;
    font-size: 5ch;
    max-width: 30ch;
    color: white;
}

h2 {
    font-family: monospace, 'Courier New', Courier;
    font-weight: 600;
    font-size: 5ch;
    scroll-margin-top: 4ch;
    scroll-snap-margin-top: 4ch;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 2em;
}

h3 {
    font-family: monospace, 'Courier New', Courier;
    font-weight: 400;
    font-size: 3ch;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 2em;
}

.heading {
    background-size: cover;
    padding: 10ch;
    padding-top: 25ch;
    color: white;
}

.headingtextcontainer {
    max-width: 100ch;
    margin: auto;
}

.missionstatement {
    font-weight: 500;
    font-size: large;
    text-align: left;
    max-width: 60ch;
    color: white;
}

p {
    color: rgb(18, 10, 4);
    font-size: large;
}

li {
    font-size: large;
}

main {}

.mainbodytext {
    max-width: 100ch;
    padding: 2ch;
    margin: auto;
}

.navlinks {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    /* transition: transform 3s; */
}

.techdesccontainer {
    width: 35ch;
    margin: auto;
    border-radius: 15px;
    padding: 1ch;
    box-shadow: 0px 0px 5px rgba(18, 10, 4, 0.281);
}

.techdesc {
    text-align: center;
    margin: auto;
}

.techdownarrow {
    font-size: 5ch;
    text-align: center;
    margin: 0px;
}

.techhighlight {
    font-size: 2.5ch;
    font-weight: bold;
    margin-top: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
}

.applicationscontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5em;
    width: 80%;
    margin: auto;
}

.applicationscontainer div {
    background-color: rgb(33, 57, 57);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-content: center;
    height: 25ch;
    padding: 1ch;
    box-shadow: 0px 0px 4px rgba(18, 10, 4, 0.281);
}

.applicationscontainer p {
    margin: auto;
    color: white;
    text-align: center;
}

.imagecontainer {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.schematicimg {
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(129, 114, 101);
}

.teamimage {
    height: 300px;
    background-color: rgb(1, 45, 45);
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(129, 114, 101);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.teamimage p {
    color: white;
}

.sponsorimgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 80ch;
    margin: auto;
    gap: 5px;
}

.sponsorimgs img {
    max-height: 40px;
}


.logobottomnav {
    height: 4ch;
}

.logoandaddress p {
    margin: 0px;
    margin-left: 10px;
    font-size: small;
}

.bottomnavbar {
    /* background-color: rgb(129, 114, 101); */
    box-shadow: 0px -2px 4px rgba(18, 10, 4, 0.281);
    padding: 5px;
}

.bottomnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100ch;
    margin: auto;
}

.bottomnavlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.bottomnavlinks a {
    font-size: small;
}

.navlinks a {
    text-decoration: none;
}

.navlinks a:hover {
    text-decoration: underline;
}

.bottomnavlinkscontainer {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.copyright {
    font-size: small;
    width: 100%;
    text-align: right;
}

.formcontainer {
    margin: auto;
    width: 100%;
    max-width: 400px;
    border-radius: 1em;
    background-color: #f3dfce;
    margin-top: 3em;
}

.formcontainer h2 {
    margin-top: 10px;
}

form {
    display: block;
    padding: 1em;
}

label {
    display: block;
    /* min-width: 50px; */
    text-align: left;
    font-size: smaller;
    margin-bottom: 3px;
}

input,
textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 1ch;
    box-sizing: border-box;
    border: 1px solid #999999;
}

input:focus,
textarea:focus {
    outline-style: solid;
    outline-color: black;
}

.buttoncontainer {
    width: fit-content;
    margin: auto;
}

.submitbtn {
    background-color: rgb(18, 10, 4);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    border-radius: 3px;
    padding: 1ch;
    border-style: none;
}

.submitbtn:hover {
    background-color: #D47844;
}

.linkedinicon {
    width: 30px;
    filter: grayscale();
    transition: 0.3s;
}

.linkediniconcontainer {
    margin-left: 10px;
    margin-top: 10px;
}

.grouppics {
    text-align: center;
}

.grouppics img {
    width: 60%;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    /* make it compatible with mobile and thin window
     */

    .schematicimg {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgb(129, 114, 101);
    }

    .applicationscontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: auto;
    }

    .topnav {
        padding-left: 2ch;
        padding-right: 2ch;
        gap: 0px;
        box-shadow: 0px 2px 4px rgba(18, 10, 4, 0.281);
    }

    .topleftlink {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .expand-menu {
        display: flex;
    }

    .navlinksholder {
        position: absolute;
        overflow: hidden;
        transform: translate(-25px);
        
        height: 0px;
        /* transition: all 0.3s; */

        transition-behavior: allow discrete;
    }

    .navlinks {
        position: relative;

        display: grid;
        row-gap: 2ch;
        padding: 1ch;
        background-color:#f3dfce;

        opacity: 1;
        overflow: hidden;
        transform: translate(0px, -100%);
        
        /* transition: all 0.3s;

        @starting-style {
            transform: translate(0px, 0px);
        } */

        transition-behavior: allow discrete;
    }

    .navlinks a {
        display: block;
        text-align: right;
    }

    .toprightlinks:hover {
        background-color: #f3dfce;
        border-radius: 7px;
    }

    .teamimage {
        width: 100%;
    }

    .heading {
        padding: 2ch;
        padding-top: 20ch;
        padding-bottom: 10ch;
    }

    h1 {
        font-size: 4.5ch;
    }

    h2 {
        font-size: 4ch;
        scroll-margin-top: 6ch;
        scroll-snap-margin-top: 6ch;
    }

    h3 {
        font-size: 2.5ch;
    }

    .bottomnav {
        display: block;
    }

    .logoandaddress div {
        width: fit-content;
        margin: auto;
    }

    .logoandaddress p {
        text-align: center;
        margin-left: 0px;
    }

    .bottomnavlinkscontainer {
        margin: 0px;
    }

    .bottomnavlinks {
        margin: auto;
    }

    .copyright {
        text-align: center;
    }

    .topleftlink img {
        height: 3.5ch;
    }

    .linkediniconcontainer {
        margin-left: 0px;
        padding-top: 10px;
    }

    .grouppics {
        display: block;
    }

    .grouppics img {
        width: 80%;
        height: auto;
    }

    .sponsorimgs {
        max-width: 45ch;
    }

    .sponsorimgs img {
        max-height: 30px;
    }
}